<!--Nagłówek-->
<div> <h1> LOGO SKLEPU                 wyszukiwarka                    wyloguj </h1>
</div>
<div style="clear:both"> </div>

<!--Okno menu-->
<div style="width:200px; float:left">
    <h3> Fajnie że wpadłeś</h3>

        {% for kat in kategorie %}
    <p><a href = "/kategoria/{{ kat.id }}"> {{ kat.nazwa }} </a> </p>

        {% endfor %}
</div>

<!--Główne okno-->
<div style="width:700; float:left">
    {% block produkt %}  {% endblock produkt %}
</div>

<div style="clear:both"> </div>


